<body id="page-top">
<div id="wrapper">
    <!--Inicio side bar-->
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #ecb719;">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <img src="/assets/img/logo/logo-cammi.jpeg" alt="CAMMI" style="width: 73px;height: 73px;">
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3">
                </div>
            </a>
            <br>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link" href="inicio.html"><i class="fas fa-tachometer-alt"></i><span>Inicio</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-circle"></i><span>Usuarios</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user-circle"></i><span>Nuevo migrante</span></a></li>
                <li class="nav-item"><a class="nav-link" href="juridico.html"><i class="fas fa-user"></i><span>Jurídico</span></a></li>
                <li class="nav-item"><a class="nav-link" href="albergue.html"><i class="fas fa-table"></i><span>Albergue</span></a></li>
                <li class="nav-item"><a class="nav-link" href="psicosocial.html"><i class="far fa-user-circle"></i><span>Psicosocial</span></a></li>
                <li class="nav-item"><a class="nav-link" href="login.html"><i class="fas fa-user-circle" style="color: var(--bs-red);"></i><span style="color: var(--bs-red);">Cerrar sesión</span></a></li>
            </ul>
        </div>
    </nav>
    <!--Final side bar-->
    
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <!--Inicio de la  barra arriva-->
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button">
                        <i class="fas fa-bars"></i>
                    </button>
                    <h3 class="text-dark mb-0"><strong>Centro de Apoyo Marista al Migrante</strong>
                    </h3>
                    <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">

                        </div>
                    </form>
                    <ul class="navbar-nav flex-nowrap ms-auto">
                        <li class="nav-item dropdown d-sm-none no-arrow">
                            <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="me-auto navbar-search w-100">
                                    <div class="input-group">
                                        <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary py-0" type="button">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="btn btn-warning text-white">Cerrar sesión</a>
                            
                        </li>
                    </ul>
                </div>
            </nav>
             


    <div class="container-fluid">