<%- include('includes/header.ejs') %>


<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex"><img src="assets/img/logo/logo-cammi.jpeg"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Bienvenido a CAMMI</h4>
                                    </div>
                                    <form action="/login" method="POST" class="user">
                                        <div class="mb-3"><input type="email" name="email"
                                                class="form-control form-control-user" id="exampleInputEmail"
                                                aria-describedby="emailHelp"
                                                placeholder="Ingrese un correo electrónico..." name="email" required />
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" name="password"
                                                class="form-control form-control-user" id="exampleInputPassword"
                                                placeholder="Contraseña" name="password" required />
                                        </div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input type="checkbox"
                                                        class="form-check-input custom-control-input"
                                                        id="formCheck-1" /><label
                                                        class="form-check-label custom-control-label"
                                                        for="formCheck-1">Recordar cuenta</label></div>
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100"
                                            type="submit">Iniciar sesión</button>
                                        <hr />
                                        <hr />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('includes/footer.ejs') %>