<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>

<h3 class="text-dark mb-4">Panel sección Albergue</h3>
<div class="container">
    <div class="row">
        <h4 class="text-dark mb-4">Registrar Alojamiento</h4>
        <a href="/alojamiento" class="btn btn-success text-white">Registrar Alojamiento</a>
    </div>

    <br>

    <div class="row">
        <h4 class="text-dark mb-4">Registrar Comunicación</h4>
        <a href="/comunicacion" class="btn btn-success text-white">Registrar Comunicación</a>
    </div>

    <br>

    <div class="row">
        <h4 class="text-dark mb-4">Registrar Alimentación</h4>
        <a href="/alimentacion" class="btn btn-success text-white">Registrar Alimentación</a>
    </div>

    <br>


</div>

<%- include('includes/endsidebar.ejs') %>
<%- include('includes/footer.ejs') %>