<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>

<h3 class="text-dark mb-4">Panel sección Jurídica</h3>

<div class="container">
    <div class="row">
        <h4 class="text-dark mb-4">Registrar Delito</h4>
        <a href="/Delito" class="btn btn-success text-white">Registrar Delito</a>
    </div>

    <br>

    <div class="row">
        <h4 class="text-dark mb-4">Registro Perfil Del Refugiado </h4>
        <a href="/perfil_refugio" class="btn btn-success text-white">Registro Perfil Del Refugiado </a>
    </div>

    <br>

    <div class="row">
        <h4 class="text-dark mb-4">Registrar </h4>
        <a href="#" class="btn btn-success text-white">Registrar </a>
    </div>

    <br>


</div>

<%- include('includes/endsidebar.ejs') %>
<%- include('includes/footer.ejs') %>