<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>

<h3 class="text-dark mb-4">Panel sección Psicosocial</h3>
<div class="container">
    <div class="row">
        <h4 class="text-dark mb-4">Registrar Pil</h4>
        <a href="/programas_integracion_local" class="btn btn-success text-white">Registrar Pil</a>
    </div>

    <br>

    <div class="row">
        <h4 class="text-dark mb-4">Registrar Atención Psicosocial</h4>
        <a href="/atencion_psicosocial" class="btn btn-success text-white">Registrar Atención Psicosocial</a>
    </div>

    <br>

    <div class="row">
        <h4 class="text-dark mb-4">Registrar Asistencia Social</h4>
        <a href="/asistencia_social" class="btn btn-success text-white">Registrar Asistencia Social</a>
    </div>

    <br>


</div>

<%- include('includes/endsidebar.ejs') %>
<%- include('includes/footer.ejs') %>