<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>

<h3 class="text-dark mb-4">Panel sección Jurídica</h3>
<div class="container">
    <div class="">
        <h4 class="text-dark mb-4">Agregar delito</h4>
        <a href="#" class="btn btn-success text-white">Agregar delito</a>
    </div>

    <br>


</div>

<%- include('includes/endsidebar.ejs') %>
<%- include('includes/footer.ejs') %>