
@media only screen and (max-width: 990px) {
    #centro_de_apoyo {
      
      font-size:15px;
      text-align: justify;
    }
  }

  @media only screen and (max-width: 690px) {
    #centro_de_apoyo {
      
      font-size:10px;
      text-align: justify;
    }
  }


 
  @media screen and (max-width: 800px) {
    #foot_page {
      display: none;
    }
  }